@import '../style';

.login-box{
  @include box;
  width: 340px;
  height: 460px;
  margin-top: -230px;
  margin-left: -170px;
}

.login-box--content{
  @include box--content;
  width: 280px;
  height: 460px;
}