@import '../../utils/style-global';

.back{
  @include flex-center;
  width: 64px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  color: $base-white-back;
  border-right: 1px solid $base-light-gray;
}

.button-back{
  width: 28px;
  height: 28px;
  margin: auto;
  cursor: pointer;
  border: none;
  background: url("../img/back.png") no-repeat;
}

.profile-box{
  width: 510px;
  height: 550px;
  top: 47vh;
  margin-top: -275px;
  left: 50vw;
  margin-left: -255px;
  text-align: center;
  position: relative;
}

.avatar{
  width: 130px;
  height: 130px;
  margin: auto;
  margin-bottom: 20px;
  background-image: url("../img/avatar.png");

  &:hover{
    background-image: url("../img/avatar-mousehover.png");
  }
}

.chat-name{
  @include h3;
  color: $base-black;
  margin-top: 0;
  margin-bottom: 60px;
}
