@import '../style';

.signin-box{
  @include box;
  width: 340px;
  height: 615px;
  margin-top: -307.5px;
  margin-left: -170px;
}

.signin-box--content{
  @include box--content;
  width: 280px;
  height: 615px;
}