@import '../style';

.oldPassword, .newPassword{
  @include h4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $base-black;
}

#oldPassword, #newPassword{
  width: 300px;
  border:none;
  padding: 10px 0;
  outline: none;
  color: $base-gray;
  text-align: right;
}

.change-password-box--buttons{
  @include flex-column;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  margin-bottom: 30px;
}
