@import '../style';

.ChangePassword .button-back{
  background: url("../../../assets/back.png") no-repeat;
}

#oldPassword, #newPassword, #repeatNewPassword{
  width: 300px;
  border:none;
  padding: 10px 0;
  outline: none;
  color: $base-gray;
  text-align: right;
  background-color: transparent;
}

.profile-box .button{
  position: absolute;
  bottom: 14px;
  left: 115px;
}
